<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultLanguagesList</key>
	<string>English</string>
	<key>exportFormat</key>
	<integer>40620</integer>
	<key>exportImageFormat</key>
	<integer>2</integer>
	<key>exportOpenAfterExport</key>
	<true/>
	<key>exportPdfCopyDocumentSequrity</key>
	<false/>
	<key>exportPdfCopyDocumentSequrityPassword</key>
	<string></string>
	<key>exportPdfCreateOutline</key>
	<false/>
	<key>exportPdfEmbedFonts</key>
	<true/>
	<key>exportPdfEnabledTaggedPDF</key>
	<true/>
	<key>exportPdfExportMode</key>
	<integer>2</integer>
	<key>exportPdfImageQuality</key>
	<integer>1</integer>
	<key>exportPdfKeepPageNumbersHeadersAndFooters</key>
	<true/>
	<key>exportPdfKeepPictures</key>
	<true/>
	<key>exportPdfKeepTextAndBackgroundColor</key>
	<true/>
	<key>exportPdfMakePdfACompliant</key>
	<false/>
	<key>exportPdfOpenDocumentSequrity</key>
	<false/>
	<key>exportPdfOpenDocumentSequrityPassword</key>
	<string></string>
	<key>exportPdfPaperMargins</key>
	<string>1.180555, 0.7881944, 0,59027777, 0.7881944</string>
	<key>exportPdfPaperSize</key>
	<string>0,0</string>
	<key>exportPdfPrintDocumentSequrity</key>
	<false/>
	<key>exportPdfUseMRC</key>
	<false/>
	<key>exportSaveOption</key>
	<integer>0</integer>
	<key>exportTxtInsertPageBreakCharacter</key>
	<false/>
	<key>exportTxtKeepLineBreaksAndHyphens</key>
	<false/>
	<key>exportTxtKeepPageNumbersHeadersAndFooters</key>
	<true/>
	<key>exportTxtLayout</key>
	<integer>0</integer>
	<key>exportTxtTextEncoding</key>
	<integer>1</integer>
	<key>exportTxtUseBlankLineParagraphSeparator</key>
	<false/>
	<key>exportXlsXConvertNumericalValuesToNumbers</key>
	<true/>
	<key>exportXlsXIgnoreTextOutsideTables</key>
	<true/>
	<key>exportXlsXImageQuality</key>
	<integer>1</integer>
	<key>exportXlsXKeepPageNumbersHeadersAndFooters</key>
	<true/>
	<key>exportXlsXKeepPictures</key>
	<false/>
	<key>preferencesRecognitionLanguages</key>
	<string>English,Spanish</string>
</dict>
</plist>
